.navbar {
  padding: 1rem 5rem 1rem 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.display-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-cagnotte {
  border: 2px solid #fe7f6d;
  color: #fe7f6d;
  border-radius: 59px;
  padding: 10px 25px 10px 25px;
  margin-left: 60px;
}
.btn-cagnotte:hover {
  background: #fe7e6d1a;
  transition: 0.4s ease-in-out;
}
.btn-connexion {
  background: #f6f5f7;
  padding: 10px 25px 10px 25px;
  border-radius: 59px;
  color: #969696;
  margin-left: 60px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f5f7;
  padding: 10px 120px 10px 25px;
  border-radius: 59px;
  color: #969696;
  gap: 8px;
}
.btn-hover:hover {
  background: #d6d6d6;
  transition: 0.4s ease-in-out;
  color: #575757;
}
